<style>
  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-family: 'Arial', sans-serif;
    height: 95vh;
  }

  .left-side,
  .center,
  .right-side {
    padding: 2rem;
    border-radius: 1rem;
    background-color: #f4f4f4;
    margin: 0.5rem;
  }

  .left-side {
    flex-basis: 20%;
    max-width: 15rem;
  }

  .center,
  .right-side {
    flex-grow: 1;
  }

  .flowers-list {
    display: flex;
    flex-direction: column;
  }

  .segment {
    margin-bottom: 0.5rem;
    padding: 1.2rem;
    background-color: #fff;
    border: 0.1rem solid #ccc;
    border-radius: 1rem;
  }

  .title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }

  .content {
    font-size: 1.2rem;
  }

  .custom-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
    color: #284b28;
  }

  .flower-button {
    padding: 0.8rem 1.5rem;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    background-color: #bbecbb;
    color: #000000;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .flower-button:hover {
    background-color: #284b28;
  }

  .flower-button:focus {
    outline: none;
  }

  .insufficient-water {
    color: #ff0000;
    font-weight: bold;
  }

  .warning-icon {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    animation: blink-animation 1s infinite;
  }

  @keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  @media (max-width: 768px) {
    .main-container {
      flex-direction: column;
      align-items: stretch;
    }

    .left-side,
    .right-side {
      width: 100%;
      max-width: none;
    }

    .center {
      margin-right: 0;
    }
  }
</style>
<div class="main-container">
  <div class="left-side">
    <div class="flowers-list">
      <button *ngFor="let flower of flowers" class="flower-button" (click)="showFlowerData(flower.name)">
        {{ flower.name }}
      </button>
    </div>
  </div>
  <div class="center">
    <div class="custom-title">Dane o {{ selectedFlower }}</div>
    <div *ngIf="selectedFlower" class="segment" (click)="openTemperatureChart(selectedFlower)">
      <div class="title">Temperatura</div>
      <div class="content">{{ getFlowerData(selectedFlower)?.temperature }}</div>
    </div>
    <div *ngIf="selectedFlower" class="segment">
      <div class="title">Przewidywana data podlewania</div>
      <div class="content">{{ getFlowerData(selectedFlower)?.wateringDate }}</div>
    </div>
    <div *ngIf="selectedFlower" class="segment">
      <div class="title">Co ile podlewanie</div>
      <div class="content">{{ getFlowerData(selectedFlower)?.wateringFrequency }}</div>
    </div>
    <div *ngIf="selectedFlower" class="segment">
      <div class="title">Ilość wody potrzebnej do podlania</div>
      <div class="content" [ngClass]="{'insufficient-water': isWaterInsufficient(selectedFlower)}">
        {{ getFlowerData(selectedFlower)?.waterForWatering }}
      </div>
    </div>
    <div *ngIf="selectedFlower" class="segment">
      <div class="title">Ilość wody w zbiorniku</div>
      <div class="content" [ngClass]="{'insufficient-water': isWaterInsufficient(selectedFlower)}">
        {{ getFlowerData(selectedFlower)?.waterInTank }}
        <span *ngIf="isWaterInsufficient(selectedFlower)" class="warning-icon">&#9888;</span>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="custom-title">Ilość zużytej wody</div>
    <div *ngIf="selectedFlower" class="segment">
      <div class="title">Średnio w tygodniu</div>
      <div class="content">{{ calculateWaterPerWeek(getFlowerData(selectedFlower)?.waterForWatering) }}</div>
    </div>
    <div *ngIf="selectedFlower" class="segment">
      <div class="title">Średnio rocznie</div>
      <div class="content">{{ calculateWaterPerYear(getFlowerData(selectedFlower)?.waterForWatering) }}</div>
    </div>
    <div *ngIf="selectedFlower" class="segment">
      <div class="title">W lato</div>
      <div class="content">{{ getFlowerData(selectedFlower)?.summer }}</div>
    </div>
    <div *ngIf="selectedFlower" class="segment">
      <div class="title">W zimę</div>
      <div class="content">{{ getFlowerData(selectedFlower)?.winter }}</div>
    </div>
  </div>
</div>
